.formContainer {
  width: 100%;
  .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .inputsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  .inputContainer {
    display: flex;
    flex-direction: row;
  }
}
