@use "../variables/colors" as *;
@use "../variables/fonts" as *;

.input {
  width: 50%;
  padding: 0 0 10px;
  background-color: $color-dark;
  box-sizing: border-box;
  margin-top: 16px;
  font-size: $font-size-base;
  margin-bottom: 16px;
  outline: none;
  border: none;
  border-bottom: solid 1px $color-white;
  color: $color-white;

  &:focus {
    outline: none;
  }
  &::placeholder {
    color: $color-white;
  }
}
