@use "../variables/colors" as *;
@use "../variables/fonts" as *;

.app {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
    font-size: $font-size-base;
    font-weight: normal;
    font-family: "Neue Montreal Regular", sans-serif; // Utilisation directe de la police
    line-height: 1.2;
    color: $color-white;
  }
  h1 {
    font-size: $font-size-xl;
    font-family: $editorial-regular;
  }
  h2 {
    font-size: $font-size-lg;
  }
  h3 {
    font-family: $neue-regular;
    font-size: $font-size-base;
  }
}
