@use "../variables/fonts" as *;

@font-face {
  font-family: $suisse-regular;
  font-style: normal;
  src: url(./../../assets/fonts/SuisseIntl-Regular.ttf);
}

@font-face {
  font-family: $suisse-bold;
  font-style: normal;
  src: url(./../../assets/fonts/SuisseIntl-Bold.ttf);
}

@font-face {
  font-family: $editorial-regular;
  font-style: normal;
  src: url(./../../assets/fonts/EditorialNew-Regular.otf);
}

@font-face {
  font-family: $editorial-bold;
  font-style: normal;
  src: url(./../../assets/fonts/EditorialNew-Bold.otf);
}
